
<h1>Admin manager</h1>
<form action="/admin_changes" method="post">
<label for="cars">Choose an option</label>

<select name="controls" id="controls" >
  <option value="Add/delete Driver">Add/modify Driver</option>
  <option value="Add/delete Admin">Add/modify admin</option>
  <option value="Add/delete zip code">Add/modify zip code</option>
  <option value="modify fares">modify fares</option>

</select>
<br/>
<br/>

  <div>
  <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit" value="perform"> 
</div>
</form>

</select>